.entityContainer {
    padding: 10px;
    margin: 10px;
}

.reloadTableButton {
    font-size: 7pt;
}

#userContainer .reloadTableButton {
    display:none;
}

#logContainer .reloadTableButton {
    display:none;
}

#productContainer {
    display:none;
}